
/* header */
.headerindex{
    background-image: url(../images/fondo-cama.webp);
    height:26vh ;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
}
/* fondo */
body{
    background-color: rgb(147, 144, 144);
}

/* textos */
h1{
    color:rgb(0, 0, 0) ;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    
}
h2{
    text-transform: uppercase;

}
h3{
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

 /* enlaces */
.fin {
  
    text-decoration: none;
    font-size: 20px;
    color: rgb(6, 5, 5);

}

/* listas */
li{
    list-style:none ;
  
    
}
/* footer */
.texto{
    text-align: center;
    text-transform: capitalize;
}
footer{
    margin-top: 1rem;
}
ul{
    padding: 0%;
    display: flex;
    justify-content: end;
    gap: 0.7rem;
}
.boton{
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
