.tituloservicios{
    color:$colorprimario;
    text-transform: capitalize;
    margin-top: 1rem;
}
.contenedorservicios{
  p{
    margin-top: 2rem;
    text-transform: capitalize;
  }
}
.contenidoservicios{
  color: $colorsecundario;
  font-size: nth($font-sizes,2 );
}
.contenedorimagenes{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 11.5rem;
}
.logoservicios{
  transition: (0.3s);
  &:hover{
    transform: scale(1.1);
}
}